/* General styles */
@font-face {
  font-family: 'Codec Pro Thin';
  src: url('./codec-pro-thin.ttf') format('truetype');
}

body {
    background-color: #293134;
    color: #f8f4f2;
    font-family: 'Codec Pro Thin', Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    width: 250px;
    height: auto;
}

h1 {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
  font-size: 1.75rem;
  margin-top: 10px;
  text-align: center;
}

h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

p {
    font-size: 1rem;
}

.email-link,
.course-link {
    color: #ffffff;
}

.spacer {
    height: 1rem;
}

.news-image {
    width: 30%;
    height: auto;
    margin-top: 20px;
}

.disclaimer {
    font-size: 0.6rem;
    margin-top: 20px;
}

@media (max-width: 480px) {
  h1
