@font-face {
  font-family: 'Codec Pro Thin';
  src: url('./fonts/codec-pro-thin.ttf') format('truetype');
}

body {
    background-color: #272d32;
    color: #f8f4f2;
    font-family: 'Codec Pro Thin', Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    width: 200px;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.25rem;
}
